<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MainWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <userSettings>
        <MainWindow.Properties.Settings>
            <setting name="ComNumber" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="SalveID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Baud" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DataBit" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ModbusType" serializeAs="String">
                <value>RTU</value>
            </setting>
            <setting name="loglevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RemoteSalveID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RemoteRegisterCount" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RemoteStartAddress" serializeAs="String">
                <value>1</value>
            </setting>
        </MainWindow.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
